body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 300;
}

div {
  width: 600px;
  height: 560px;
  background-image: url("ninja-frames/background3.png");
  background-position: 0px 0px;
  position: relative;
}

img {
  position: absolute;
  left: 150px;
  bottom: 40px;
  height: 110px; 
}

img.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}